body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.block {
  display: inline;
}
.block img {
  height: 200px;
  width: 400px;
  object-fit: cover;
}
.block_txt {
  background-color: rgba(83, 82, 82, 0.8);
  color: white;
  transform: rotate(270deg) translate(-110px, -80px);
  width: 200px;
  position: sticky;
  text-align: center;
  left: 0;
}
